### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.idea

# chrome driver
app/chromedriver
chromedriver.log

# Excel files
*.xlsx

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# Virtualenv
venv
.venv